
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="bg-white w-50 border text-black min-vh-100 mt-5" style="display:flex;flex-direction:column;justify-content:center;align-items:center">

    <div class="d-flex justify-content-center p-3 mb-5 mt-3">
        <a class="btn border border-info text-info me-3" asp-action="Mainpage">&lt; Back to Dashboard</a>
        <a class="btn border border-info text-info" asp-controller="Patient" asp-action="PatientLoginPage">&lt; Back to Login</a>
    </div>
    <h1 class="w3-jumbo  w3-animate-top text-center text-danger"><code>Access Denied</code></h1>
    <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
    <h3 class="text-center w3-animate-right">You dont have permission to view this site.</h3>
    <h3 class="text-center w3-animate-zoom">🚫🚫🚫🚫</h3>


</div>