<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <script src="./js/custom.js"></script>
    <title>Document</title>
</head>

<body style="">
    <div class="container-fluid">
       <Partial name="_navbar" />

        <hr style="margin: 0; padding: 0" />
        <div class="row">



            <div class="tab-content" style="" id="myTabContent">
                <div class="tab-pane fade show active mx-4"
                     id="DashBoard"
                     role="tabpanel"
                     aria-labelledby="home-tab"
                     tabindex="0">
                    <Partial name="_DashBoard"/>
                     </div>
                <div class="tab-pane fade"
                     id="ProvideLocation"
                     role="tabpanel"
                     aria-labelledby="profile-tab"> 
                     
                     </div>
                <div class="tab-pane fade"
                     id="Profile"
                     role="tabpanel"
                     aria-labelledby="profile-tab">
                  MyProfie
                </div>
                   <div class="tab-pane fade"
                         id="Provider"
                         role="tabpanel"
                         aria-labelledby="profile-tab">
                    Providers
                </div>
                <div class="tab-pane fade"
                     id="Partner"
                     role="tabpanel"
                     aria-labelledby="profile-tab">
                    Parteners
                </div>
                <div class="tab-pane fade"
                     id="Access"
                     role="tabpanel"
                     aria-labelledby="profile-tab">
                    Access
                </div>
                <div class="tab-pane fade"
                     id="Records"
                     role="tabpanel"
                     aria-labelledby="profile-tab">
                    Records
                </div>

        </div>
        </body>
        </html>
