

<div class="navbar-expand-md shadow">
    <div class="d-flex justify-content-between border-bottom border-1 ">

        <button class="navbar-toggler d-block d-md-none navbar-light border-0 mt-3 ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#myTab" aria-controls="myTab" aria-expanded="false"
                aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon text-dark" style="height: 50%; "><i class="bi bi-list fs-2 p-2"></i></span>
        </button>
        <img src="~/Images/hellodoclogo.png" alt="hallodoc" width="90" class="m-3" />
        <div class="mx-2 mt-3">
            <span class="m-2">Welcome <strong>@ViewBag.username</strong></span>
            <button id="redirectBtn"
                class="text-info px-2 py-2 border border-info rounded-2"
                    style="background: transparent" onclick="logout()">
                <i class="bi bi-box-arrow-left me-2 d-inline-block d-md-none " ></i><span class="d-none d-md-inline-block">Logout</span>
            </button>
            <button onclick="toggle1()" class="bi bi-moon  pointer border border-1 border-info p-2 rounded text-info bg-white"></button>
        </div>
    </div>

    <ul class="nav nav-tabs px-5 navbar-collapse collapse bg-white "
        id="myTab"
        role="tablist"
        style="          
            box-shadow: 10px 2px white;
          ">
        <li class="nav-item mx-2 " role="presentation">
            <a asp-action="MainPage" class="nav-link active text-dark"
                    id="hometab"
                  >
                DashBoard
            </a>
        </li>
        <li class="nav-item mx-2 " role="presentation">
            <a class="nav-link text-dark " asp-action="ProviderLocation"
                    id="location-tab"
                 >
                ProviderLocation
            </a>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <a asp-action="MyProfile" class="nav-link text-dark "
                    id="Profile-tab"
                  >
                MyProfile
            </a>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <div class="dropdown">
                <button class="btn border-0 actions dropdown-toggle p-1  " type="button" aria-expanded="false" aria-haspopup="true">
                   Provider
                </button>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" asp-action="Provider">Provider</a></li>
                    <li><a class="dropdown-item" asp-action="Scheduling">Scheduling</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <a asp-action="Vendor" class="nav-link text-dark "
                    id="Partner-tab"
                   >
                Parteners
            </a>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <div class="dropdown">
                <button class="btn border-0 actions dropdown-toggle p-1  " type="button" aria-expanded="false" aria-haspopup="true">
                    Access
                </button>
                <ul class="dropdown-menu ">
                    <li>
                        <a asp-action="Access" class="nav-link text-dark"
                           id="Access-tab">
                            User Access
                        </a>
                    </li>
                    <li><a class="dropdown-item" asp-action="CreateAdminAccount">Create Admin Account</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <div class="dropdown">
                <button class="btn border-0 actions dropdown-toggle p-1 "  style="border-style:none;" type="button" aria-expanded="false" aria-haspopup="true">
                    Records
                </button>
                <ul class="dropdown-menu ">
                    <li>
                        <a asp-action="SearchRecord" class="nav-link text-dark"
                           id="Access-tab">
                            SearchRecord
                        </a>
                    </li>
                    <li><a class="dropdown-item" asp-action="EmailLog">Email Log</a></li>
                    <li><a class="dropdown-item" asp-action="SmsLog">SMS Log</a></li>
                    <li><a class="dropdown-item" asp-action="PatientRecord">Patient Record</a></li>
                    <li><a class="dropdown-item" asp-action="BlockHistory">Block History</a></li>
                </ul>


            </div>
        
            
   
        </li>
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  

    function logout() {
        console.log("load");
        console.log("load");
        $('#loader').fadeIn(200);
        $(".container-fluid").css('opacity', '0.5');
        // Simulate redirection after 2 seconds
        setTimeout(function () {
            window.location.href = '@Url.Action("LogOut", "Patient")'; // Redirect to About action in HomeController
        }, 1000);
    }

</script>

