html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*ADMIN LOGIN PAGE*/

.main_wrapper {
    height: 100vh;
}

.login_wrapper {
    max-width: 500px;
}

.adminlogin_wrapper {
    height: 100vh;
    width: 100vw;
}






/*Dashboard Cards*/
.new {
    background-color: rgba(2, 2, 255, 0.1);
    border-color: rgba(2, 2, 146) !important;
    color: rgba(2, 2, 146);
}

    .new:hover, .new.active {
        background-color: rgba(2, 2, 146);
        border-color: rgba(2, 2, 146) !important;
        color: white;
    }


.Pending {
    background-color: rgba(167, 239, 248, 0.10);
    border-color: rgb(41, 179, 197) !important;
    color: rgb(41, 179, 197);
}

    .Pending:hover, .Pending.active {
        background-color: rgb(0, 92, 104);
        border-color: rgb(41, 179, 197) !important;
        color: white;
    }

.Active {
    background-color: rgba(138, 253, 215, 0.10);
    border-color: rgb(19, 99, 55) !important;
    color: rgb(19, 99, 55);
}

    .Active:hover, .Active.active {
        background-color: rgb(2, 54, 37);
        border-color: rgb(19, 99, 55) !important;
        color: white;
    }


.Conclude {
    background-color: rgba(252, 87, 238, 0.10);
    border-color: rgb(129, 22, 124) !important;
    color: rgb(129, 22, 124);
}

    .Conclude:hover, .Conclude.active {
        background-color: rgb(99, 3, 91);
        border-color: rgb(129, 22, 124) !important;
        color: white;
    }

.ToClose {
    background-color: rgba(68, 156, 228, 0.10);
    border-color: rgb(16, 100, 133) !important;
    color: rgb(16, 100, 133);
}


    .ToClose:hover, .ToClose.active {
        background-color: rgb(3, 47, 83);
        border-color: rgb(16, 100, 133) !important;
        color: white;
    }

.Unpaid {
    background-color: rgba(164, 46, 233, 0.10);
    border-color: rgb(86, 26, 134) !important;
    color: rgb(86, 26, 134);
}

    .Unpaid:hover, .Unpaid.active {
        background-color: rgb(44, 1, 70);
        border-color: rgb(86, 26, 134) !important;
        color: white;
    }





html[data-bs-theme="dark"] nav.header {
    background-color: rgb(42, 50, 56) !important;
}

html[data-bs-theme="dark"] .text-testing {
    color: white !important;
}

html[data-bs-theme="dark"] .modal-dark {
    color: #212529 !important;
}


@media screen and (max-width : 375px) {
    .logo {
        height: 50px !important;
    }
}

@media screen and (max-width : 300px) {
    .logo {
        display: none !important;
    }
}

