@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataLayer.ViewModels.SendLinkViewModel;

<div class="modal fade" id="SendLinkPopUP" tabindex="-1" aria-labelledby="SendLinkPopUP" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header bg-info w-100 d-flex flex-row justify-content-between">
            <h6 class="modal-title text-white" id="exampleModalLongTitle">Send mail to patient for submitting request</h6>
            <button type="button" class="btn-close btn-close-white ms-3" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

                <form asp-action="SendLinkAdminDetails">
            
                <div class="form-floating mt-2">
                    <input type="text"
                           class="form-control"
                           asp-for="firstname"
                           placeholder="First Name" />
                    <label for="FirstName">First Name</label>
                        <div> <span asp-validation-for="firstname" class="text-danger"></span></div>

                </div>
                <div class="form-floating mt-3">
                    <input type="text"
                           class="form-control"
                           asp-for="lastname"
                           placeholder="Last Name" />
                    <label for="FirstName">Last Name</label>
                        <div> <span asp-validation-for="lastname" class="text-danger"></span></div>

                </div>
                <div class="form-floating mt-3 ">
                    <input type="tel" asp-for="mobile" id="phone" placeholder="Phone Number"  class="form-control pt-3 pb-3 phone" />
                        <label for="FirstName">PhoneNumber<label>
                                <div> <span asp-validation-for="mobile" class="text-danger"></span></div>
                </div>
                <div class="form-floating mt-3">
                    <input type="text"
                           class="form-control"
                           id="patientEmail"
                           asp-for="email"
                           placeholder="Email" />
                    <label for="patientEmail">Email</label>
                        <div> <span asp-validation-for="email" class="text-danger"></span></div>

                </div>

                <div class="d-flex justify-content-end mt-3 gap-2">
                        <button type="submit" class="btn btn-info text-white">submit</button>
                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>


            </form>

        </div>
    </div>
</div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
   
</script>
