

<div class="navbar-expand-md shadow">
    <div class="d-flex justify-content-between border-bottom border-1 ">

        <button class="navbar-toggler d-block d-md-none navbar-light border-0 mt-3 ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#myTab" aria-controls="myTab" aria-expanded="false"
                aria-label="Toggle navigation" style="height: 50%;">
            <span class="navbar-toggler-icon"></span>
        </button>


        <img src="~/Images/hellodoclogo.png" alt="hallodoc" width="90" class="m-3" />
        <div class="mx-2 mt-3">
            <span class="m-2">Welcome <strong>@ViewBag.username</strong></span>
            <a class="text-info px-2 py-2 border border-info rounded-2"
               style="background: transparent">
                <i class="bi bi-box-arrow-left me-2 d-inline-block d-md-none "></i><span class="d-none d-md-inline-block">Logout</span>
            </a>
            <i class="bi bi-moon  pointer border border-1 border-info p-2 rounded text-info"></i>
        </div>
    </div>

    <ul class="nav nav-tabs px-5 navbar-collapse collapse"
        id="myTab"
        role="tablist"
        style="
            background-color: white;
            border: 3px solid white;
            box-shadow: 10px 2px white;

          ">
        <li class="nav-item mx-2 " role="presentation">
            <button class="nav-link active text-black "
                    id="DashBoard-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#DashBoard"
                    type="button"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true">
                DashBoard
            </button>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <button class="nav-link text-black"
                    id="ProviderLocation-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#Provider"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false">
                ProviderLocation
            </button>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <button class="nav-link text-black"
                    id="Profile-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#Profile"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false">
                MyProfile
            </button>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <button class="nav-link text-black"
                    id="Providers-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#Provider"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false">
                Providers
            </button>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <button class="nav-link text-black"
                    id="Partner-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#Partner"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false">
                Parteners
            </button>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <button class="nav-link text-black"
                    id="Access-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#Access"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false">
                Access
            </button>
        </li>
        <li class="nav-item mx-2" role="presentation">
            <button class="nav-link text-black"
                    id="Record-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#Records"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false">
                Records
            </button>
        </li>
    </ul>
</div>



