@{
    Layout = "_Layout";
}
@model DataLayer.ViewModels.PatientLoginView


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="old/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./js/custom.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container  " style="height: 90vh;">
        <Partial name="_Notification" />
        <div class="col-auto justify-content-center align-item-center p-3 moonbtn">
            <button onclick="toggle1()" class="bi bi-moon bg-white  pointer border border-1 border-info px-3 py-2 rounded text-info"></button>
        </div>
        <div class="row  bgimg justify-content-center">

            <div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 col-xs-10 mx-auto  ">

                <div class="row    ">
                    <div class="col-4 mx-lg-auto mx-xl-auto ">
                        <img src="~/Images/hellodoclogo.png" class="mx-auto" />
                    </div>

                </div>
                <div class="row  justify-content-center   mt-5 " style="height: 700px;">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 mx-auto  ">
                        <div class="row mt-5 mb-3">
                            <div class="d-flex justify-content-between">
                               
                                <a asp-action="Index" asp-controller="Home" class="btn btn-white border-1 border-info text-info rounded-1">&lt; &nbspBack</a>
                            </div>
                        </div>
                        <h4 class="mb-3">LOGIN TO YOUR ACCOUNT</h4>
                        <form method="post" asp-action="patientLogin" asp-controller="Patient" >
                        <div class="input-group mb-2">
                              
                            <input type="text" asp-for="email" class="form-control " placeholder="Email" aria-label="Username">
                        
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="material-icons">
                                        account_circle
                                    </span>
                                </span>
                            </div>
                               


                        </div>
                            <span asp-validation-for="email" class="text-danger " style="font:bolder"></span>
                        <div class="input-group mt-3">
                               
                            <input  type="password" asp-for="passwordhash" class="form-control" placeholder="Password" aria-label="Username"
                                   aria-describedby="basic-addon1">
                              
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <span class="material-icons">
                                        visibility
                                    </span>
                                </span>
                            </div>
                              


                        </div>
                            <span asp-validation-for="passwordhash" class="text-danger"></span>
                        <button class="btn text-white w-100  btn-lg btn-block text-center mt-3" type="submit"
                                style="background-color: #0dcaf0;">
                            Login
                        </button>
                        </form>
                        <div class="row justify-content-center">
                            <a class=" col-4 justify-content-center text-black fw-bold mt-3" asp-controller="Patient" asp-action="ForgetpassPatient" > Forget password ? </a>
                        </div>
                    </div>
                </div>


            </div>
            <div class=" d-flex justify-content-center align-items-center  " style="position: absolute; bottom: 0;">
                <a href="" class="p-3">Terms And condition</a>
                <a href="" class="p-3">|</a>
                <a href="" class="p-3">Privacy Policy</a>
            </div>

        </div>


    </div>

</body>

</html>

@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
    }